#main_title{
  background-color: #000000;
  color: #f7fbff;
  font-family: "Verdana", Geneva, sans-serif;
  text-align: center;
  margin-bottom: 20;
  margin-left: 0;
}

body {
   margin-top: 0;
   height:80%;
   width:100%;
   text-align: center;

}

#map{
  height:80%;
  border:1px solid black;
  display: inline-block;
  background-color: #deebf7;
}

path.highlight {
  fill:  #fffd00!important;
}

.d3-tip {
  line-height: 1;
  font-family: "Verdana", Geneva, sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
